.ui.horizontal.divider.wrapper.light.raleway Convenios
section.wrapper.convenios
	.logo-universidad
		img.ui.small.image(src='/images/uni-anahuac.png')
	.logo-universidad
		img.ui.small.image(src='/images/uni-lasalle.png')
	.logo-universidad
		img.ui.small.image(src='/images/uni-colima.png')
footer.wrapper
	#contacto
		h2.light Contáctanos
		.ui.form
			.fields
				.field
					label Nombre
					input(type='text', placeholder='Nombre Completo')
				.field
					label Correo Electrónico
					input(type='email', placeholder='Correo Electrónico')
				.field
					label Mensaje
					textarea(rows='3', placeholder='Mensaje...')
			button.ui.fluid.button(type='submit') Enviar
	#secciones
		h2.light Secciones
		.ui.link.list
			a.item Inicio
			a.item Doctorado
			a.item Investigación
			a.item Servicios
			a.item Organización
	#ubicacion
		div
			h2.light Ubicación
			h5.ui.header
				i.marker.icon
				.content
					| Pico de Orizaba 1. Colonia los Volcanes. Cuernavaca, Morelos. C. P. 62350. 
					br
					| Telefonos: 329 7970, 316 7720 y 316 7718
		#sociales
			div
				a(href='#')
					i.large.facebook.icon
			div
				img.ui.small.image(src='/images/empresa-incluyente.png', alt='')
	#mapa
		iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4488.116905740685!2d-99.21684163118395!3d18.92956080289334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9c9f256682bc61eb!2sCentro+de+Investigaci%C3%B3n+Transdiciplinar+en+Psicolog%C3%ADa+-+UAEM!5e0!3m2!1ses-419!2smx!4v1497280511827', frameborder='0', style='border:0;', allowfullscreen='')
