header.wrapper
	.logos-header
		div
			img#logo-citpsi(src='/images/logo-citpsi.png', alt='')
		div
			img#logo-uaem(src='/images/uaem.png', alt='')
	.ui.huge.header.center.aligned.raleway.light.text-banner Centro de Investigación Transdisciplinar en Psicología
	.ui.horizontal.divider.light.desktop MENU
	.ui.secondary.menu.menu-desktop
		a.item.roboto.light Inicio
		a.item.roboto.light Doctorado
		a.item.roboto.light Investigacion
		a.item.roboto.light Servicios
		a.item.roboto.light Transferencia
		.ui.pointing.dropdown.item.roboto.light
			| Organizacion
			i.dropdown.icon
			.menu.sub-menu-desktop
				a.item.raleway
					i.announcement.icon
					| Avisos
				a.item.raleway
					i.calendar.icon
					| Eventos
				a.item.raleway
					i.folder.icon
					| Convocatorias
				a.item.raleway
					i.industry.icon
					| Enlace a Organizaciones
				a.item.raleway
					i.ravelry.icon
					| Iniciar Sesion
	.container-menu-mobile
		.ui.accordion
			.title
				.hamburger.hamburger--spring.btn-menu-mobile
					.hamburger-box
						.hamburger-inner
			.content
				.ui.secondary.menu.menu-mobile
					a.item.roboto.light Inicio
					a.item.roboto.light Doctorado
					a.item.roboto.light Investigacion
					a.item.roboto.light Servicios
					a.item.roboto.light Transferencia
					.title.roboto.light Organizacion
					.content
						.menu.sub-menu-mobile
							a.item.raleway
								i.announcement.icon
								| Avisos
							a.item.raleway
								i.calendar.icon
								| Eventos
							a.item.raleway
								i.folder.icon
								| Convocatorias
							a.item.raleway
								i.industry.icon
								| Enlace a Organizaciones
							a.item.raleway
								i.ravelry.icon
								| Iniciar Sesion