extends template-site

block estilos
    link(rel='stylesheet', href='/css/servicios.css')

block contenido

    section.wrapper.servicios
        .header-servicios
            h1.ui.header.light.blue Clínica de Servicios Psicológicos
            p
                | La Clínica de Servicios Psicológicos fue creada para dar respuesta a las necesidades de la comunidad en general, a un costo razonable, con un trato amable y responsable por personal calificado en las distintas áreas. Nuestro compromiso siempre será mantener contacto con las necesidades de la comunidad y proveer alternativas de servicios que contribuyan a mejorar la calidad de vida de los pacientes y de sus familiares.
        .catalogo-servicios
            .ui.styled.fluid.accordion
                .title
                    i.dropdown.icon
                    |  Atención Neuropsicológica
                .content
                    h5.ui.header.grey ¿A quién va dirigido este programa?
                    p
                        | Niños y niñas de mínimo 5 años de edad que hayan visitado un especialista (neurólogo, neuropediatra, neuropsiquiatra o psicopedagogo) y les haya diagnosticado:
                    .ui.bulleted.list
                        .item Retraso en la adquisición del lenguaje.
                        .item Déficit de atención con o sin hiperactividad.
                        .item Trastornos del desarrollo (dislexia, entre otros).
                        .item
                            | Problemas de aprendizaje que no mejoran con educación especial o programas de apoyo pedagógico, especialmente si ha requerido medicamentos y apoyo psicológico.
                        .item Trastornos específicos del aprendizaje: cálculo, lectura y escritura.
                        .item Trastorno global del aprendizaje: retardo mental.
                    h5.ui.header.grey Adolescentes y adultos que presenten:
                    .ui.bullete.list
                        .item Alteraciones en la comprensión y/o expresión del lenguaje.
                        .item Alteraciones en la percepción simple y/o compleja.
                        .item Dificultades en la programación de movimientos complejos.
                        .item Alteraciones de atención y memoria.
                        .item Alteraciones en la secuenciación del pensamiento y actividad intelectual.
                    h5.ui.header.grey Debido a:
                    .ui.bulleted.list
                        .item
                            | Traumatismo Craneoencefálico (TCE): se produce por golpes en la cabeza (con o sin ruptura del cráneo), por accidentes laborales, domésticos, de tránsito o agresiones físicas.
                        .item
                            | Infecciones cerebrales: meningitis bacteriana, cisticercosis, abscesos cerebrales.
                        .item
                            | Evento Vascular Cerebral (EVC): infartos o hemorragias que interrumpen el flujo sanguíneo por obstrucción o ruptura de una vena o arteria del cerebro.
                        .item
                            | Tumores: formaciones celulares nuevas en el Sistema Nervioso Central, independientemente de que sea benigno o maligno.
                        .item Hipoxia: Reducción de oxígeno en el flujo sanguíneo.
                        .item
                            | Epilepsia: convulsiones recurrentes que pueden afectar alguna parte del cuerpo o a su totalidad; crisis de ausencia.
                        .item
                            | Procesos demenciales: alteraciones de la memoria (capacidad para aprender nueva información o de recordar información previamente aprendida); déficit en otras capacidades cognitivas respecto al nivel de ejecución previa (razonamiento, planificación, procesamiento general de información, etc.)
                    h5.ui.header.grey Desarrollo del Programa
                    p
                        | Los profesionales que laboran en este servicio llevan a cabo las siguientes acciones:
                    .ui.bulleted.list
                        .item
                            | Evaluación de funciones psicológicas superiores (lenguaje, memoria, atención, percepción, entre otras).
                        .item Diagnóstico de alteraciones cognitivas debido a daño o disfunción cerebral.
                        .item
                            | Diseño de programas de atención o rehabilitación para quienes padecen de alteraciones cognitivas, con la finalidad de mejorar su calidad de vida.
                        .item
                            | Por otra parte, imparten cursos, talleres y conferencias de información y actualización en temas relacionados con la neuropsicología.
                .title
                    i.dropdown.icon
                    |  Transtorno del Sueño
                .content
                    h5.ui.header.grey Introducción
                    p
                        | Este servicio es una alternativa para aquellas personas que presentan algún tipo de alteración en su ciclo de sueño. El trastorno de sueño es una perturbación que incide en el funcionamiento adecuado del organismo de una persona mientras duerme, y no deja avanzar de forma sistemática y paulatina las diferentes etapas que caracterizan un buen descanso. Puede aparecer varias veces en una misma semana y bien padecerse de forma crónica.
                    h5.ui.header.grey ¿A quién va dirigido este programa?
                    p Niños(as) o adultos que presenten alguno de los siguientes síntomas:
                    .ui.bulleted.list
                        .item Dificultad para conciliar el sueño.
                        .item Sueño excesivo durante el día.
                        .item Sentir que se ahoga durante la noche.
                        .item Roncar.
                        .item Pesadillas.
                        .item Despertar gritando.
                        .item Sentirse débil y cansado al día siguiente.
                        .item Sentir terror por la noche.
                        .item Despertar parcialmente.
                        .item Ser sonámbulo.
                        .item Calambres nocturnos en las piernas.
                    h5.ui.header.grey Desarrollo del Programa
                    p
                        | Ofrecemos desde asesorías sobre hábitos de sueño por un especialista (consulta), hasta la realización de un estudio Polisomnográfico. El estudio polisomnográfico (estudio del sueño nocturno) es una herramienta útil que brinda al especialista los elementos necesarios para llegar a un diagnóstico y establecer el tratamiento.
                .title
                    i.dropdown.icon
                    |  Funcionalizacion de personas con Autismo
                .content
                    h5.ui.header.grey ¿A quién va dirigido este programa?
                    .ui.bulleted.list
                        .item Serias dificultades en las relaciones sociales.
                        .item Serias dificultades de comunicación (sin importar que puedan hablar).
                        .item
                            | Inflexibilidad psicológica, expresada por ejemplo en actitudes repetitivas o ritualistas.
                        .item Dificultad para atribuir intenciones y creencias a los demás, como a sí mismo.
                        .item Dificultad al predecir el comportamiento de los otros.
                        .item
                            | “Leer la mente de otros”, es decir, dificultad en la interpretación de los gestos o actitudes de los otros.
                        .item
                            | Atribución de estados mentales ocultos a los actos de los demás, como a los actos propios.
                    h5.ui.header.grey Desarrollo del Programa
                    p Quienes ejecutan este programa llevan a cabo las siguientes acciones:
                    .ui.bulleted.list
                        .item Evaluación y diagnóstico preciso para la detección oportuna del autismo.
                        .item
                            | Atención psicopedagógica a niños y niñas que presenten este trastorno del desarrollo.
                        .item
                            | Orientación a padres de familia y maestros que atienden educativamente a estos niños.
                        .item
                            | Imparten conferencias, talleres y seminarios de información y actualización en esta problemática (a petición expresa y formal de los interesados).
                        .item Impulsan y desarrollan un programa de investigación y formación profesional.
                .title
                    i.dropdown.icon
                    |  Apoyo Psicológico
                .content
                    h5.ui.header.grey ¿A quién va dirigido este programa?
                    p
                        | Las puertas de este servicio están abiertas para todas aquellas personas que tengan entre 5 y 65 años de edad, que hayan enfrentado situaciones como las siguiente:
                    .ui.bulleted.list
                        .item Violencia familiar.
                        .item Violencia sexual.
                        .item Acoso escolar.
                        .item Acoso institucional.
                        .item Extorsiones o secuestros.
                        .item Problemas de conducta.
                        .item Manifestaciones de ansiedad.
                        .item Manifestaciones de depresión.
                        .item Dificultades de aprendizaje por componentes afectivos.
                    h5.ui.header.grey Desarrollo del Programa
                    p Los profesionales que laboran en el área de Salud Mental brindan:
                    .ui.bulleted.list
                        .item
                            | Atención Psicológica: acompañamiento terapéutico, orientación o asesorías psicológicas individuales (no ofrecemos terapia de pareja ni terapia grupal).
                        .item
                            | Capacitación: cursos, talleres y conferencias que promueven la salud mental. Durante el proceso de intervención se realiza la historia clínica del paciente, se aplican pruebas psicológicas con la finalidad de establecer un diagnóstico y finalmente se ofrece apoyo psicológico correspondiente a sus necesidades.
    
    section.wrapper.mas-info-servicios
        h3.ui.header.pink
            i.info.icon
            .content Mas informacion
        .ui.segment
            div
                h2.ui.header.black.light
                    | ¿Cómo contactarnos?
                    .sub.header Puedes ponerte en contacto con nosotros a través de los siguientes medios:
                .ui.bulleted.list
                    .item
                        | Viniendo personalmente a nuestras instalaciones, dentro del Centro de Investigación Transdisciplinar en Psicología, ubicado en Pico de Orizaba 1. Colonia los Volcanes. Cuernavaca, Morelos.
                    .item Llamando a los siguientes teléfonos:329 79 70 o 316 7720.
                    .item
                        | Escribiendo al correo electrónico: 
                        a(href='mailto:extension.citpsi@uaem.mx') extension.citpsi@uaem.mx
                        | .
            div
                h2.ui.header.black.light
                    | Sugerencias
                    .sub.header
                        | Para que disfrute de un buen servicio, usted y los demás asistentes le sugerimos que siga las siguietes recomendaciones:
                .ui.bulleted.list
                    .item Asistencia y puntualidad en las sesiones concertadas.
                    .item Aviso con suficiente anticipación en caso de no poder asistir a la cita.
                    .item Aceptación de los límites de tiempo, tipo, etc. de los servicios ofrecidos.
                    .item Respeto a las personas y materiales de la Clínica de Servicios Psicológicos.
                    .item Aceptación de las normas del servicio recibido.

block customScripts
    script(scr='/js/servicios.js')