doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title #{titlePage}
		link(rel='stylesheet', href='/dist/semantic.min.css')
		link(rel='stylesheet', href='/css/components.css')
		link(rel='stylesheet', href='/css/hamburgers.css')
		block estilos
	body

		include header

		block contenido
			p 404 ¡Página no localizada!

		include footer

		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='/dist/semantic.min.js')
		script(src='/js/components.js')
		block customScripts
			script
